/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f3eed;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px; /* Added margin-bottom */
}

h1 {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    align-items: flex-start;
}

.text-area {
    flex: 1;
    margin-right: 20px;
}

.text-area form {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-area label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.text-area textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.text-area input[type="submit"],
.text-area button {
    background-color: #3f3eed;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-area input[type="submit"]:hover,
.text-area button:hover {
    background-color: #3f3eed;
}

.summary {
    flex: 1;
    margin-left: 20px;
    margin-top: 2px;
}

.summary {
    flex: 1;
    padding: 40px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary h2 {
    margin-bottom: 20px;
    color: #333;
}

.summary p {
    color: #666;
    line-height: 1.6;
}

.formOrPdf{
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    margin: 5px;
    font-size: 14px;
    color: #777;
}
